<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>React</title>
	</head>
	<body>
		<div id="root"></div>

		<script src="https://unpkg.com/react@^16/umd/react.development.js"></script>
		<script src="https://unpkg.com/react-dom@^16/umd/react-dom.development.js"></script>

		<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

		<script type="text/babel">
			// const root = document.querySelector('#root');
			// const title = document.createElement('h1');
			// title.innerText = 'Hello World!';
			// root.append(title);

			// const title = React.createElement('h1', {
			// 	id: 'important',
			// 	className: 'special-item',
			// 	children: 'Hello World from React!',
			// });

			// const title = React.createElement('h2', null, 'This is a title');
			// const para = React.createElement(
			// 	'p',
			// 	null,
			// 	'This is some paragraph content.'
			// );
			// const section = React.createElement('section', {
			// 	children: [title, para],
			// });

			// const section = React.createElement(
			// 	'section',
			// 	null,
			// 	React.createElement('h1', null, 'This is the title'),
			// 	React.createElement('p', null, 'This is some paragraph content.')
			// );

			// const title = <h1>Hello World {new Date().toUTCString()}</h1>;

			// const className = 'hello-world';
			// const id = 'test';
			// const children = 'Hello World!';
			// const props = { id, className, children };

			// const section = (
			// 	<section>
			// 		<h2 id={id} className={className}>
			// 			{children.toUpperCase()}
			// 		</h2>
			// 		<p>
			// 			Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
			// 			sequi, repellendus quisquam perferendis consequuntur maxime expedita
			// 			ipsam eligendi rem, nesciunt velit laboriosam. Sapiente fugit fuga
			// 			mollitia nihil, voluptate quod sed!
			// 		</p>
			// 	</section>
			// );

			// const section = React.createElement(
			// 	'section',
			// 	null,
			// 	React.createElement('h2', { id: 'test' }, 'Hello World!'),
			// 	React.createElement(
			// 		'p',
			// 		null,
			// 		'Lorem ipsum dolor sit amet consectetur adipisicing  ipsam eligendi rem, nesciunt velit laboriosam. Sapiente fugit fuga mollitia nihil, voluptate quod sed!'
			// 	)
			// );

			function BlogPost({ title, publishDate, author, children, url }) {
				return (
					<article>
						<h3>{title}</h3>
						<p>
							Published on {publishDate} by <strong>{author}</strong>
						</p>
						<p>{children}</p>
						<a href={url}>Read More</a>
					</article>
				);
			}

			const section = (
				<section>
					<article>
						<h3>Article #1</h3>
						<p>
							Published on {new Date().toLocaleDateString()} by{' '}
							<strong>John Doe</strong>
						</p>
						<p>
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi hic
							repellat pariatur? Eligendi quisquam soluta omnis cumque. Quaerat
							doloremque rerum ratione? Magni natus ea optio, voluptas obcaecati
							quo cum aspernatur!
						</p>
						<a href='#'>Read More</a>
					</article>

					{BlogPost({
						title: 'Article ###2',
						publishDate: new Date().toLocaleDateString(),
						author: 'Jane Smith',
						children:
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error numquam libero quidem laboriosam delectus magni quae sit, dolore aperiam exercitationem aliquid, minima hic inventore dolores modi excepturi voluptatibus possimus?',
						url: '#',
					})}

					{React.createElement(BlogPost, {
						title: 'Article ###3',
						publishDate: new Date().toLocaleDateString(),
						author: 'Jack Ma',
						children:
							'Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis error numquam libero quidem laboriosam delectus magni quae sit, dolore aperiam exercitationem aliquid, minima hic inventore dolores modi excepturi voluptatibus possimus?',
						url: '#',
					})}

					<BlogPost
						title='Article ###4'
						publishDate={new Date().toLocaleDateString()}
						author='Jack Ma'
						url='#'>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis
						error numquam libero quidem laboriosam delectus magni quae sit,
						dolore aperiam exercitationem aliquid, minima hic inventore dolores
						modi excepturi voluptatibus possimus?
					</BlogPost>
				</section>
			);

			const posts = (
				<>
					<h3 style={{ fontSize: '20px', color: 'red' }}>This is a title</h3>
					<p>hello world</p>
				</>
			);

			ReactDOM.render(posts, document.querySelector('#root'));
		</script>
	</body>
</html>
