body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
	background-color: red;
	border: 5px solid black;
	height: 100px;
	width: 100px;
	color: white;
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* flex-flow: row wrap; */
	justify-content: space-between;
	/* align-content: flex-start; */
	align-items: baseline;
	height: 500px;
	background-color: lightgoldenrodyellow;
}

.box2 {
	flex-grow: 1;
}

.box4 {
	flex-grow: 3;
}

/* .box1 {
	order: 2;
}

.box4 {
	order: 1;
} */

/* .box1 {
	height: 200px;
	font-size: 130px;
}

.box4 {
	height: 400px;
	font-size: 160px;
}

.box3 {
	height: 80px;
}

.box6 {
	height: 160px;
} */
