body {
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.test-para {
	display: none;
}

.box {
	background-color: red;
	border: 5px solid black;
	min-height: 100px;
	color: white;
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.5s;
}

.box:hover {
	transform: scale(1.3);
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	/* row-gap: 20px;
	column-gap: 20px; */
	gap: 30px;
	/* grid-template-rows: 1fr 2fr 2fr; */
	/* grid-template-areas:
		"header header header header"
		"left-sidebar main-content main-content right-sidebar"
		"footer footer . ."; */
}

@media screen and (min-width: 600px) {
	.container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 900px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	body {
		background-color: aqua;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

@media print {
	.container {
		/* grid-template-columns: 1fr; */
		display: none;
	}

	.test-para {
		display: block;
	}
}

/*
.box1 {
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;
} */


/*
.box1 {
	grid-area: header;
}

.box2 {
	grid-area: left-sidebar;
}

.box3 {
	grid-area: main-content;
}

.box4 {
	grid-area: right-sidebar;
}

.box5 {
	grid-area: footer;
} */
