/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
	font-family: 'brostoryregular';
	src: url('./assets/brostory-webfont.woff2') format('woff2'),
		url('./assets/brostory-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
} */

/* body {
	background-color: yellowgreen;
} */

/* * {
	font-family: Arial, Helvetica, sans-serif;
} */

/*
.nav-link {
	border: 5px solid red;
} */
/*
.imp-link {
	border: 5px solid red;
}

.test {
	background-color: aquamarine;
}

.imp-link.test {
	border: 10px solid darkblue;
	border: 20px solid darkgreen;
} */

/* #importantTitle {
	border: 10px solid darkblue;
} */

/*
p {
	border: 10px solid darkblue;
} */

/* h6.hello-world {
	border: 10px solid darkblue;
} */
/*
.hello-world,
li,
button {
	border: 10px solid darkblue;
} */

/* ul li {
	border: 3px solid darkcyan;
} */

/* ul>li {
	border: 3px solid darkcyan;
} */

/* section+p {
	border: 5px solid blue;
} */

/* [class] {
	border: 3px solid darkcyan;
} */
/*
[href="https://google.com"] {
	border: 5px solid darkcyan;
} */

/* [class|="hello"] {
	border: 5px solid darkolivegreen;
} */

/* [class^="hello"] {
	border: 5px solid darkolivegreen;
} */

/* [class$="world"] {
	border: 5px solid darkolivegreen;
} */

/* [class*="lo"] {
	border: 5px solid darkolivegreen;
} */


/* p { */
/* border: 10px solid darkslateblue;
	border-style: dashed; */
/* border: 10px solid gray;
	border-style: groove; */
/* border-top: 5px solid red;
	border-bottom: 10px dashed green;
	border-left: 30px dotted blue;
	border-right: 100px groove yellow;
	border: 30px solid orange;
	border-width: 10px 30px 50px 5px; */
/* border: 10px solid #3307b5; */
/* border: 10px solid hsla(0, 80%, 50%, 1);
} */

/* p:hover {
	border: 10px solid hsla(0, 80%, 30%, 1);
} */

/* .box {
	height: 300px; */
/* background: yellow url(./assets/1.jpeg) no-repeat center center/200%; */
/* background-color: lightgray; */
/* background-image: url(./assets/android-chrome-192x192.png), url(./assets/1.jpeg);
	background-repeat: repeat-x, no-repeat;
	background-position: center center, center center;
	background-size: 100px, cover; */
/* background-image: linear-gradient(to bottom right, red, yellow, blue, green, black); */
/* background-image: url(./assets/android-chrome-192x192.png), radial-gradient(yellow, orange, red, maroon, black);
	background-repeat: no-repeat;
	background-position: center center, center center;
	background-size: 100px, cover;
	background-attachment: fixed; */
/* background-image: radial-gradient(yellow, orange, red, maroon, black); */
/* background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; */
/* background-attachment: fixed; */
/* display: flex;
	justify-content: center;
	align-items: center; */
/* background-clip: text; */
/* margin: 100px; */
/* border-radius: 10px 40px 100px 100px; */
/* border-radius: 20px;
	box-shadow: 10px 10px 10px 0 red, -10px -10px 10px 0 blue, -20px -20px 10px 0 green, 20px 20px 10px 0 orange, inset 0 0 10px 10px black;
} */

/* .box h1 {
	font-size: 80px;
	font-weight: bold; */
/* color: white; */
/* } */

/* body {
	font-family: Inter, sans-serif;
} */

/* p {
	color: blue; */
/* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
/* font-size: 20px; */
/* font-style: italic; */
/* font-weight: 500; */
/* text-transform: capitalize; */
/* text-shadow: 4px 4px 0 red, -4px -4px 0 green; */
/* line-height: 1.5; */
/* letter-spacing: 20px; */
/* word-spacing: 20px; */
/* text-align: justify; */
/* } */

/* p,
span {
	border: 3px solid red;
} */

/* p {
	line-height: 40px;
} */

/* strong {
	background-color: brown;
	padding: 10px;
	display: inline;
	display: inline-block;
} */

p,
body {
	margin: 0;
}

/* .para { */
/* background-color: yellowgreen; */
/* padding: 20px 50px 100px 200px; */
/* padding: 30px; */
/* margin: 100px; */
/* width: 300px;
	margin: 100px auto; */
/* } */

* {
	box-sizing: border-box;
}

html {
	font-size: 100%;
}

/* .para {
	background-color: aqua;
	font-size: 1rem;
	padding: 2em;
	line-height: 1.5;
} */

/* .hero {
	width: 50%;
	padding: 40px;
	border: 20px solid black;
	background-image: radial-gradient(yellow, orange, red, maroon, black);
	overflow: auto;
}

.hero p {
	color: white;
} */

/* .inner-hero {
	height: 100%;
	width: 100%;
	background-image: radial-gradient(black, maroon, red, orange, yellow);
	transition: all 0.5s;
} */

/* .inner-hero:hover {
	opacity: 0;
} */

/* .first-image {
	float: right;
} */

/* .first-image {
	position: fixed;
	right: 10px;
	bottom: 10px;
} */

/* .navbar {
	background-color: black;
	width: 100%;
	padding: 15px 40px;
	position: fixed;
	bottom: 0;
	left: 0;
}

.navbar h1 {
	color: white;
	margin: 0;
	font-size: 1.5rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
