@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
	font-size: 100%;
}

body {
	font-family: "Inter", sans-serif;
	background: rgba(0, 0, 0, 0.1)
}

a {
	text-decoration: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: white;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.navbar nav {
	display: flex;
	gap: 1.2rem;
	align-items: center;
}

.navbar .logo {
	font-weight: 700;
	font-size: 1.4rem;
	color: darkcyan;
}

.navbar nav a {
	color: rgba(0, 0, 0, 0.8);
	font-weight: 500;
}

.navbar nav .cta {
	background-color: darkcyan;
	color: white;
	padding: 0.6rem 1rem;
	border-radius: 6px;
	font-weight: 500;
	transition: all 0.2s;
}

.navbar nav .cta:hover {
	background-color: rgba(0, 92, 92, 1);
}

.latest-posts {
	padding: 3rem 0;
}

.latest-posts .container {
	width: 1000px;
	margin: 0 auto;
}

.latest-posts .section-title {
	font-size: 1.8rem;
	margin-bottom: 2rem;
	font-weight: 700;
}

.latest-posts .posts-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.2rem;
}

.post {
	background-color: white;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: all 0.2s;
}

.post:hover {
	box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
	transform: translateY(-0.5rem)
}

.post img {
	width: 100%;
	height: 140px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.post .body {
	padding: 1rem 1.2rem;
}

.post .body h4 {
	font-size: 1.2rem;
	font-weight: 700;
	color: black;
	margin-bottom: 1rem;
}

.post .body .meta {
	font-size: 0.9rem;
	color: rgba(0, 0, 0, 0.7);
	margin-bottom: 0.8rem;
}

.post .body .excerpt {
	font-size: 1rem;
	color: black;
	line-height: 1.3;
	margin-bottom: 1rem;
}

.post .body .btn {
	color: rgba(0, 0, 0, 0.8);
	text-align: center;
	display: block;
	background-color: white;
	border: 2px solid rgba(0, 0, 0, 0.2);
	padding: 0.6rem;
	font-size: 90%;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}
